@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@layer base {
      .font-baloo {
        font-family: 'Baloo 2', 'Inter', sans-serif;
      }

      .font-inter {
        font-family: 'Inter', sans-serif;
      }

      /* Gradient */
      .gradient-one {
        background: linear-gradient(90deg, #FF0076, #0C13B1, #22797A, #40E0D0);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        z-index: 2;
        position: relative;
      }

      /* Background */

      .blob-outer-container {
        position: fixed;
        height: 100vh;
        width: 100vw;
        z-index: 0;
        inset: 0;
        margin: auto;
        filter: blur(100px);
      }

      .blob-inner-container {
        border-radius: 99999px;
        position: absolute;
        inset: 0;
        margin: auto;
        width: 100vw;
        height: 100vh;
        min-width: 300px;
        overflow: hidden;
        background: #fff;
        transform: scale(0.6);
      }

      .blob {
        position: absolute;
        width: 100dvw;
        height: 100dvh;
        inset: 0;
        margin: auto;
        background:
          conic-gradient(from 0deg, #2600ff65, #08f1da81, #ffc8765a, #ff007779, #9f50e065);
        animation: moveBlob 20s linear infinite;
      }

      @keyframes moveBlob {
        0% {
          transform: rotate(0deg) scale(2);
        }
        100% {
          transform: rotate(1turn) scale(2);
        }
      }
}

@layer utilities {
  .section-spacing {
    @apply px-6 md:px-10 lg:px-24 xl:px-32 py-16;
  }

  .section-container {
    @apply max-w-6xl mx-auto;
  }

  .left-column-layout {
    @apply flex flex-col justify-between items-center w-1/4 py-8 px-4 lg:px-8;
  }
  .right-column-layout {
    @apply flex flex-col w-3/4 py-8 px-6 sm:px-8 lg:px-16;
  }
}

@layer components {
    .shimmer-text {
      @apply text-transparent bg-clip-text relative font-bold;
      background-image:
        linear-gradient(90deg, #FF0076, #0C13B1, #22797A, #9E19E2);
      background-size: 300% 300%;
      background-position: 0% 50%;
      transition: background-position 1s ease;
    }
  
    .shimmer-text:hover {
      background-position: 100% 50%;
    }

}
